{% extends "base.html.twig" %}

{% block title %}Falha ao Cadastrar{% endblock %}

{% block body %}
    <p class="msgErro">Oops! Falha ao cadastrar o usuário <strong>{{ usuario }}</strong>!</p>
    <a href="{{ url('web_usuario_index') }}">Voltar</a>
{% endblock %}