{% extends "base.html.twig" %}

{% block title %}Falha ao Cadastrar{% endblock %}

{% block body %}
    <p class="msgErro">Oops! Falha ao cadastrar o usuário <strong>{{ usuario }}</strong>!</p>
{% endblock %}