{% extends "base.html.twig" %}

{% block title %}Confirmação de Cadastro{% endblock %}

{% block body %}
    <p class="msgSucesso">Usuário <strong>{{ usuario }}</strong> cadastrado com sucesso!</p>
{% endblock %}